service:
  extensions: [jaeger_storage, jaeger_query]
  pipelines:
    traces:
      receivers: [otlp]
      exporters: [nop]

extensions:
  jaeger_query:
    storage:
      traces: traces
      metrics: metrics
  jaeger_storage:
    backends:
      traces:
        memory:
          max_traces: 100000
    metric_backends:
      metrics:
        prometheus:
          endpoint: {{ .PrometheusURL }}
          normalize_calls: true
          normalize_duration: true

receivers:
  otlp:
    protocols:
      grpc: {}

exporters:
  nop: {}
